<html style="margin:5px">
  <head>

  	<link rel="stylesheet" href="lib/components/font-awesome/css/font-awesome.min.css">
  	<link rel="stylesheet" href="lib/components/bootstrap/dist/css/bootstrap.min.css">
  	<link rel="stylesheet" href="lib/components/bootstrap/dist/css/bootstrap-theme.min.css">

 	<link rel="stylesheet" href="css/happn-job.css">

 	<script src="lib/components/moment/moment.js"></script>
 	<script src="lib/components/Chart.js/Chart.js"></script>

    <script src="lib/components/angular/angular.js"></script>
    <script src="lib/components/angular-moment/angular-moment.js"></script>

    <script src="lib/components/angular-uuid4/angular-uuid4.min.js"></script>

    <script src="lib/components/angular-animate/angular-animate.min.js"></script>
    <script src="lib/components/angular-touch/angular-touch.min.js"></script>

    <script src="lib/components/angular-bootstrap/ui-bootstrap.min.js"></script>
	<script src="lib/components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

	<script src="lib/components/angular-chart.js/dist/angular-chart.js"></script>

	<script type="text/javascript" src="/browser_client"></script>
	<script src="js/services/happn-angular.js"></script>

	<script src="lib/components/jquery/dist/jquery.min.js"></script>
	<script type='text/javascript' src='lib/components/jquery-ui/jquery-ui.min.js'></script>
	<script type='text/javascript' src='lib/jquery.ui.touch-punch.min.js'></script>

	<script src="js/app.js"></script>
	<script src="js/controllers/system-controllers.js"></script>
    <script src="js/services/system-services.js"></script>
    <script src="js/directives/draganddrop.js"></script>
    <script src="js/directives/client-scripts.js"></script>
    <script src="lib/base64.js"></script>

  </head>
  <body style="margin:5px">
	<div ng-controller="DashboardController" style="padding:10px">
		<div class="row">
			<input type="datetime-local" ng-model="from"></input>
			<input type="datetime-local" ng-model="to"></input>
			<button ng-click="refreshCharts()">refresh charts</button>
		</div>
		<div style="font-size:14px; font-weight:bold">activity chart</div>
		<div class="row" style="padding:5px">
			<div id="chartContainerActivity" class="col-md-6" style="padding:10px;border:1px solid #CCC;margin:5px">
				<canvas id="line" class="chart chart-line" chart-data="chart_data"
				  chart-labels="chart_labels" chart-legend="true" chart-series="chart_series"
				  chart-click="chartClick">
				</canvas>
			</div>
			<div class="col-md-3" style="height:415px;overflow:auto;border:1px solid #CCC;margin:5px">
				<div id="previousListing" ng-repeat="event in chart_dataset" style="font-size:12px;padding:10px;margin:5px"><a style="cursor:pointer" ng-click="clickedActivityEvent(event)">{{event.created}} {{event.meta.path}}</a></div>
			</div>
			<div class="col-md-2" style="border:1px solid #CCC;word-wrap: break-word">
				{{selectedActivityEvent}}
			</div>
		</div>
		<div style="font-size:14px; font-weight:bold">resource usage chart</div>
		<div class="row" style="padding:5px">
			<div id="chartContainerUsage" class="col-md-6" style="padding:10px;border:1px solid #CCC;margin:5px">
				<canvas id="line" class="chart chart-line" chart-data="usage_chart_data"
				  chart-labels="usage_chart_labels" chart-legend="true" chart-series="usage_chart_series"
				  chart-click="usageChartClick">
				</canvas>
			</div>
			<div class="col-md-3" style="height:415px;overflow:auto;border:1px solid #CCC;margin:5px">
				<div id="previousListing" ng-repeat="event in usage_chart_dataset" style="font-size:12px;padding:10px"><a style="cursor:pointer" ng-click="clickedUsageEvent(event)">{{event.created}} {{event.meta.path}}</a></div>
			</div>
			<div class="col-md-2" style="border:1px solid #CCC;word-wrap: break-word;margin:5px">
				{{selectedUsageEvent}}
			</div>
		</div>
		<div class="row" style="padding:5px">
			<div class="col-md-3" style="height:300px;overflow:auto;border:1px solid #CCC;margin:5px">
				<div id="previousListing" ng-repeat="event in data.events" style="font-size:12px;padding:10px"><a style="cursor:pointer" ng-click="clickedEvent(event)">{{event.created}} {{event.meta.path}}</a></div>
			</div>
			<div class="col-md-8" style="border:1px solid #CCC;word-wrap: break-word;margin:5px">
				{{selectedEvent}}
			</div>
		</div>
		<div ng-include src="'../templates/notify.html'"></div>
	</div>

	<div id="modalContent" class="modal fade">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header" style="height:60px">
	        <span class="modal-title label-dark" id="modalContentHeader" style="font-size:16px"></span>
	        <button type="button" class="btn btn-default" onclick='cancelModalContent()' style="float:right;margin-left:5px;">Cancel</button>
	        <button id="btnSave" type="button" class="btn btn-success" onclick='saveModalContent()' style="float:right;">Save</button>
	        <br>
	      </div>
	      <div class="modal-body">
	      	<div style="display:{{data.message.display}};position:absolute;bottom:5px;right:5px" class="alert {{data.message.type}}">{{data.message.message}}</div>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
  </body>
</html>